* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.welcome-heading {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
}

.welcome-subheading {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("/src/assets/background-m.png"), #6d05f5;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #fff;
}

.wrapper {
  padding: 0 20px;
}

.splash-screen {
  padding-top: 110px;
  min-height: 100vh;
  text-align: center;
  opacity: 0;
  -webkit-animation: splashAnimation 4s ease-in both;
          animation: splashAnimation 4s ease-in both;
}

@-webkit-keyframes splashAnimation {
  35% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes splashAnimation {
  35% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splide__list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.splide__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 400px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.splide__slide:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.title {
  opacity: 0;
}

.title-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.player {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  margin: 10px auto;
  padding: 15px 5px;
  width: 80%;
  border: 1px solid #f800ac;
}

.submit {
  margin: 10px auto;
  padding: 15px 5px;
  width: 80%;
  border: 1px solid #f800ac;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: #f800ac;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 150px;
}
/*# sourceMappingURL=main.css.map */