* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.welcome-heading {
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
}

.welcome-subheading {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
}

.error-msg {
  width: 80%;
  margin: auto;
  font-size: 0.7rem;
  color: red;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("../assets/mobile/background-m.png"), #6d05f5;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #fff;
}

@media (min-width: 512px) {
  body {
    background: url("../assets/background.png"), #6d05f5;
    background-size: cover;
    background-position: bottom;
  }
}

.wrapper {
  padding: 0 20px;
}

.splash-screen {
  padding-top: 110px;
  min-height: 100vh;
  text-align: center;
  opacity: 0;
  -webkit-animation: splashAnimation 4s ease-in both;
          animation: splashAnimation 4s ease-in both;
}

@-webkit-keyframes splashAnimation {
  35% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes splashAnimation {
  35% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.splide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.splide__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 320px;
  max-height: 180px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.splide__slide:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.title {
  opacity: 0;
}

.title-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-align: center;
}

.movies-list {
  margin-top: 50px;
}

.player {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 10;
}

.arrow-icon {
  width: 40px;
  height: 40px;
}

.page-not-found {
  height: 100vh;
}

.page-not-found__image {
  width: 70%;
}

.page-not-found__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  opacity: 0;
  -webkit-animation: show 1s both;
          animation: show 1s both;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input {
  margin: 10px auto;
  padding: 15px 5px;
  width: 80%;
  max-width: 320px;
  border: 2px solid #f800ac;
}

.input:focus {
  outline: none;
  border: 2px solid black;
}

.submit {
  margin: 10px auto;
  padding: 15px 5px;
  width: 80%;
  max-width: 320px;
  border: 2px solid #f800ac;
  background-color: transparent;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.submit:hover {
  background-color: #f800ac;
}

@-webkit-keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.user-message {
  margin-top: 200px;
  text-align: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 150px;
}

.profile {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  padding: 5px;
  width: 100%;
  background-color: #f800ac;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
}

.profile:hover .dropdown {
  display: block;
}

.profile .dropdown:hover {
  background-color: #ddd;
}

footer {
  padding: 20px 0;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */