.splide__list {
    margin-top: 100px;
    display: flex;
    list-style-type: none;
}

.splide__slide {
    flex-shrink: 0;
    max-width: 400px;
    // height: 300px;
    // border: 5px solid red;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
        transform: scale(1.4);
    }
}

.movie-image {
    width: 100%;
    max-width: 500px;
    // height: 150px;
}
