.page-not-found {
    height: 100vh;
}

.page-not-found__image {
    width: 70%;
}

.page-not-found__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
