.splash-screen {
    padding-top: 110px;
    min-height: 100vh;
    text-align: center;
    opacity: 0;
    animation: splashAnimation 4s ease-in both;
}

@keyframes splashAnimation {
    35% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
