.sign-in {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    @include input;

    &:focus {
        outline: none;
        border: 2px solid black;
    }
}

.submit {
    @include input;
    background-color: transparent;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $accent-c;
    }
}
