.welcome-heading {
    font-size: 4rem;
    font-family: $secondary-f;
}

.welcome-subheading {
    font-size: 2.5rem;
    font-family: $tertiary-f;
}

.error-msg {
    width: 80%;
    margin: auto;
    font-size: 0.7rem;
    color: red;
}
